---
layout: false
---

<!doctype html>
<html lang="en">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The Grind</title>
    <%= stylesheet_link_tag "/stylesheets/experiments/grind/styles" %>
  </head>

  <body>
    <div class="your-class">
      <div>your content</div>
      <div>your content</div>
      <div>your content</div>
    </div>

    <p class="author">
      <a href="/">by Lee Jordan</a>
    </p>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <%= javascript_include_tag '/javascripts/experiments/grind/slick.min.js' %>
    <script>
      $(document).ready(function(){
        $('.your-class').slick({

        });
      });
    </script>
  </body>
</html>

