---
layout: false
---

<!doctype html>
<html lang="en">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Flow</title>
    <%= stylesheet_link_tag "/stylesheets/experiments/flow/styles" %>
    <%= javascript_include_tag "/javascripts/experiments/flow/flow" %>
  </head>

  <body>
    <main id="flow" class="flow"></main>
    <div id="sun"></div>
    <a class="author" href="/experiments">by Lee Jordan</a>
    <%= javascript_include_tag "/javascripts/experiments/flow/flow" %>
    <script>setupWave();</script>
  </body>
</html>

