<nav class="page-section page-section--footer">
    <div class="container container--content">
        <ul class="list-inline lead">
            <li><a href="/about.html">read my manifesto</a></li>
            <li><a href="https://github.com/leejordan">github account</a></li>
            <li><a href="mailto:ldjordan@gmail.com">send me an email</a></li>
            <li><a href="https://twitter.com/leenternet">@leenternet</a></li>
        </ul>
    </div>
</nav>
