<nav class="page-section page-section--footer">
    <div class="container container--content">
        <ol class="list-inline lead">
            <li>Tags:</li>
            <% blog.tags.each do |tag, articles| %>
                <li><%= link_to "#{tag}", tag_path(tag) %></li>
            <% end %>
        </ol>
        <ul class="list-inline lead margin-reset">
            <li>Info:</li>
            <li><a href="/about.html">about</a></li>
            <li><a href="https://github.com/leejordan">github</a></li>
            <li><a href="https://twitter.com/leenternet">@leenternet</a></li>
            <li><a href="mailto:ldjordan@gmail.com">email</a></li>
        </ul>
        <%= partial 'partials/search' %>
    </div>
    <script>// chrome has a bug that fires css animations on page load. This empty script tag fixes it. Computers eh?</script>
</nav>
