<section class="page-section">
    <div class="container container--content">
        <p class="lead">Hi. I am a web developer called Lee Jordan. Welcome to my blog which contains my writings on all sorts of different subjects loosely related to web development. If you want to know more about me you can <a href="/about.html">read my manifesto</a>, look at my <a href="https://github.com/leejordan">github account</a> or <a href="mailto:ldjordan@gmail.com">send me an email</a>. I'm also on twitter as <a href="https://twitter.com/leenternet">@leenternet</a>.</p>
    </div>
</section>
