<section class="page-section">
    <div class="container container--content">
        <img class="intro-portrait" src="images/about/portrait.png" alt="portrait of Lee Jordan">
        <p class="lead">Hi. I am a web developer called Lee Jordan.</p>
        <p class="lead">Welcome to my blog which contains my writings on all sorts of subjects related to web development. If you want to know more about me you can <a href="/about.html">read my manifesto</a>, look at my <a href="https://github.com/leejordan">github account</a> or <a href="mailto:ldjordan@gmail.com">send me an email</a>. I'm also on twitter as <a href="https://twitter.com/leenternet">@leenternet</a>.</p>
        <div class="clearfix"></div>
    </div>
</section>
