<% offset ||= false %>

<section class="page-section">
    <div class="container container--content">
        <img class="intro-portrait <%= offset ? 'intro-portrait--offset' : nil %>" src="/images/about/portrait.png" alt="portrait of Lee Jordan">
        <h2 class="margin-reset">About the author</h2>
        <p class="lead">I am a web developer with a focus on user experience and accessibility in high performance, responsive websites. If you want to know more about me you can <a href="/about.html">read my manifesto</a>, look at my <a href="https://github.com/leejordan">github account</a> or <a href="mailto:ldjordan@gmail.com">send me an email</a>. I'm also on twitter as <a href="https://twitter.com/leenternet">@leenternet</a>.</p>
        <div class="clearfix"></div>
    </div>
</section>
