<form method="get" action="/search.html">
    <div class="form-group form-group--inline">
        <input type="text" class="form-control" id="search" name="search" placeholder="search..." required>
        <button class="button form-control__button" type="submit">search</button>
    </div>
</form>
