<form method="get" action="<%= url_for '/search.html' %>">
    <div class="form-group form-group--inline">
        <input type="text" class="form-control" id="search" name="search" placeholder="find blog posts..." required>
        <button class="button form-control__button" type="submit">find blog posts</button>
    </div>
</form>
