<header class="page-section page-section--header">
    <div class="container container--content">
        <a href="/" class="title-logo"><img class="img-responsive" src="/images/about/portrait.jpg" alt="home page"></a>
        <p class="title"><a href="/">Lee Jordan</a></p>
    </div>
</header>
