<header class="page-section page-section--header">
    <div class="container container--content">
        <% link_to '/index.html', :class => 'title-logo' do %>
            <img class="img-responsive" src="/images/about/portrait.jpg" alt="home page">
        <% end %>
        <p class="title"><%= link_to 'Lee Jordan', '/index.html', :title => 'home page' %></p>
    </div>
</header>
