//
// Buttons
// ---

button,
.button {
    .button-style();
}

.button--next,
.button--prev {
    .button-icon();
    padding-top: @container-padding;
    padding-bottom: @container-padding;

    > img {
        margin: @container-padding auto;
        max-height: 200px;
    }

    @media (max-width: @reflex-xxs-max) {
        width: 100%;
    }
}

.button--next {
    &:after {
        content: '\2192';
        transform: translateX(0);
        margin-top: -@font-size-base;
        .font-size(4);
    }

    &:hover,
    &:focus {
        &:after {
            transform: translateX(@font-size-base);
        }
    }
}


.button--prev {
    &:before {
        content: '\2190';
        transform: translateX(0);
        margin-top: -@font-size-base;
        .font-size(4);
    }

    &:hover,
    &:focus {
        &:before {
            transform: translateX(-@font-size-base);
        }
    }
}
