---
layout: false
---

<!doctype html>
<html lang="en">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>title</title>
    <%= stylesheet_link_tag "/stylesheets/experiments/name/styles" %>
  </head>

  <body>


      <p class="author">
        <a href="/">by Lee Jordan</a>
      </p>
  </body>
</html>

