---
layout: false
---

<!doctype html>
<html lang="en">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tree</title>
    <%= stylesheet_link_tag "/stylesheets/experiments/tree/styles" %>
    <link href="https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Fredericka+the+Great&display=swap" rel="stylesheet">
  </head>

  <body>
    <main class="main">
      <%= image_tag '/images/experiments/tree/svg/tree-top.svg' %>
      <div class="trunk">
        <h1>Tree</h1>
        <p>
          When I was a boy I would climb trees without fear. Without hesitation I would clamber, delighted by the decisions I was making. Which branch next? Will that little one hold my weight?
        </p>
        <p>
          Inevitably, as the branches thinned, I would reach a dead-end and would be forced to pause, becoming aware of how high I was. My heart would race, my grip would suddenly feel less certain.
        </p>
        <p>
          I was so confident moments before, moving by instinct, but now doubt would creep in and I was having to come to terms with how fragile I was, how certainly my bones would break if I fell. I would imagine clattering off the limbs on my way down, skin ripping and bruising on each impact.
        </p>
        <p>
          The grass below was no longer my ally. That thin cushion would do nothing for me now if I fell.
        </p>
        <p>
          I'm almost certainly going to fall. How high am I? Higher than I ought to be. I would look down and the ground would spin away from me through the limbs of the tree.
        </p>
        <p>
          I was motionless and rooted like my tree but my roots were in fear, which saps rather than nourishes, unlike the soil which will soon claim me when I fall.
        </p>
        <p>
          Somewhere underneath the buzz of worry would come a memory of the last time I climbed a tree, and the time before that. Every tree I've ever climbed spiralling into my mind, reminding me that this happens every time.
        </p>
        <p>
          <strong>Why do I climb?</strong> I would let out a nervous giggle before dropping back into my frozen fear. Acceptance would come at some point: I had to climb down.
        </p>
        <p>
          Slowly extending a tenuous foot, I would feel beneath me for the closest branch, any memory of it's position chased away by the paralyzing tingle which consumed me. It would take a few attempts but I would find the branch, any branch, and begin the journey down.
        </p>
        <p>
          Lurching from one imagined catastrophic doom to a slightly less severe one, my arms hot and creaky, my knees like that of an old man.
        </p>
        <p>
          Finally, I would have to make a leap from a lower branch to the ground. The same branch I was so eager to pull myself onto earlier in the day now was so hard to leave. But my old life was just below, and I had to reclaim it.
        </p>
        <p>
          I would collapse into the grass, breathing hard, limbs stiff with the memory of adrenaline and look up at the tree. Through the lattice of old wood I could see the sky and the promise of infinity beyond. Why do I climb?
        </p>
        <p>
          Now when I lay under a tree I think differently. My body is still strong but I am stiff with age, hardened, and knotted. I used to climb without thinking. Then I would ask "Why do I climb?" Now I ask <strong>"Why don't I climb any more?"</strong>
        </p>
        <p>
          What's the worst thing that could happen?
        </p>
      </div>
      <img src="/images/experiments/tree/svg/tree-roots.svg">

      <p class="author">
        <a href="/experiments">by Lee Jordan</a>
      </p>
    </main>
  </body>
</html>

