---
title: About me
layout: page_layout
---

<img class="intro-portrait" src="images/about/portrait.png" alt="portrait of Lee Jordan">
<p>I am an experienced web developer based in London who has been building websites since 2001. I’m passionate about making <strong>websites that work for everybody</strong> and value this above all else.</p>
<p>I achieve this by following <strong>web standards</strong> and striving for universal <strong>accessibility</strong> because it makes sense from both an inclusive and technical argument. I firmly believe that the logical conclusion of these concerns is a website that works for everybody regardless of ability, experience and the device they are using to browse the internet. A true <strong>cross-browser</strong> solution.</p>
<p><strong>Responsive</strong> web design and development is my preferred approach and I favour the <strong>device-agnostic</strong> philosophy. As much as possible I believe you should make sure your websites are flexible in layout and flow to fill the available space.</p>
<p><strong>User experience</strong> is a subject I value highly. We should be anticipating pain points for users and designing around them. Users have a goal in mind when they interact with your site and nothing should get in the way of that goal. I believe you should always test your sites with real users and accept any feedback with an open mind.</p>
<p>I love javascript but I am always conscious to avoid the urge to over-engineer and therefore prefer to follow the rules of <strong>unobtrusive javascript</strong>. In my opinion the closest to perfection you can get in web development is a site that is effortless to use, works on any device, and looks great.</p>
<p>If you like, you can <a href="https://twitter.com/leenternet">follow me on twitter</a></p>
