---
title: Blog
---

<% content_for(:title, 'All blog posts') %>
<% content_for(:meta_desc, 'All blog posts on the subject of web development') %>

<main class="page-section">
    <div class="container container--content">
        <h1>My blog</h1>
        <p>A collection of blog posts and case studies about UX and web development.</p>
        <hr>
        <ul class="list-inline lead">
            <li>Tags:</li>
            <% blog.tags.each do |tag, articles| %>
                <li><%= link_to "#{tag}", tag_path(tag) %></li>
            <% end %>
        </ul>
        <hr>
        <h2>Blog posts</h2>
    </div>

    <% page_articles.each_with_index do |article, index| %>
        <%= partial 'partials/feature', :locals => {
                :url => '/posts/' + article.slug,
                :img => '/images/posts/' + article.slug + '/cover.jpg',
                :title => article.title,
                :body => article.date.strftime('%b %e %Y')
            } %>
    <% end %>
</main>
