---
title: Experiments
---

<% content_for(:title, 'All art experiments') %>
<% content_for(:meta_desc, 'Experiments with CSS, layout, and web design in general') %>

<main class="page-section">
    <div class="container container--content">
        <h1>Art experiments</h1>
        <p class="lead">
            Occasionally I write a story then make a web page to present it. Sometimes I just have an idea for a web design and the content comes later. Yes, this <strong>is</strong> art.
        </p>
    </div>
    <% data.experiments.all.each do |experiment| %>
        <%= partial 'partials/feature', :locals => {
                :url => '/experiments/' + experiment.slug,
                :img => '/images/experiments/' + experiment.slug + '/cover.jpg',
                :title => experiment.name,
                :body => experiment.description
            } %>
    <% end %>
</main>
