---
title: All posts
---

<%= partial 'partials/intro', :locals => { :offset => true } %>

<main class="page-section">
    <% page_articles.each_with_index do |article, index| %>
        <article class="grid grid--align-center">
            <div class="grid__col-xs-4">
                <%= link_to image_tag("images/" + article.data.slug + "/cover.jpg", class: "grid__cell-img link-img"), article %>
            </div>
            <div class="grid__col-xs-8">
                <h2 class="margin-reset"><%= link_to article.title, article %></h2>
                <p class="margin-reset"><%= article.date.strftime('%b %e %Y') %></p>
            </div>
        </article>
    <% end %>
</main>
