---
title: Home page
---

<%= partial 'partials/intro', :locals => { :offset => true } %>

<section class="page-section">
    <div class="container">
        <h2>Blog posts</h2>
        <p class="lead">
            A collection of blog posts and case studies about UX and web development. Here are the most recent posts. <a href="/blog.html">View all blog posts</a>.
        </p>
    </div>
    <% page_articles.first(5).each_with_index do |article, index| %>
        <%= partial 'partials/feature', :locals => {
                :url => article.slug + '.html',
                :img => '/images/' + article.slug + '/cover.jpg',
                :title => article.title,
                :body => article.date.strftime('%b %e %Y')
            } %>
    <% end %>
    <div class="container">
        <p class="lead">
            <a href="/blog.html">View all blog posts</a>
        </p>
    </div>
</main>

<section class="page-section">
    <div class="container">
        <h2>Portfolio</h2>
        <p class="lead">
            A curated list of some of the products I have been involved with. Here are the most recent entries. <a href="/portfolio.html">View all portfolio entries</a>.
        </p>
    </div>
    <% data.portfolio.all.first(5).each do |portfolio| %>
        <%= partial 'partials/feature', :locals => {
                :url => portfolio.url,
                :img => '/images/portfolio/' + portfolio.slug + '.jpg',
                :title => portfolio.name,
                :body => portfolio.description
            } %>
    <% end %>
    <div class="container">
        <p class="lead">
            <a href="/portfolio.html">View all portfolio entries</a>
        </p>
    </div>
</main>
