---
title: Portfolio
---

<% content_for(:title, 'Portfolio') %>
<% content_for(:meta_desc, 'Some examples of my work') %>

<main class="page-section">
    <div class="container container--content">
        <h1>Portfolio</h1>
        <p>A curated list of some of the products I have been involved with.</p>
        <hr>
    </div>

    <% data.portfolio.all.each do |portfolio| %>
        <%= partial 'partials/feature', :locals => {
                :url => portfolio.url,
                :img => '/images/portfolio/' + portfolio.slug + '.jpg',
                :title => portfolio.name,
                :body => portfolio.description
            } %>
    <% end %>
</main>
